* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#header {
    height: 50px;
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}

#x-button {
    width: 25px;
    height: 25px;
}

#chatroom-name {
    width: fit-content;
    margin-bottom: 0;
    margin-left: 20px;
}

#wrap {
    flex-direction: column;
}

#chat-container {
    overflow: auto;
    height: 100%;
}

#chat-list {
    height: calc(100% - 160px);
    overflow: auto;
    padding: 10px;
    flex: 1;
    position: relative;
    top: 60px;
}

#input {
    height: 100px;
    display: flex;
    border-top: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    top: 60px;
}

#input-text {
    height: calc(100% - 10px);
    margin: 5px 10px 5px 5px;
    flex: 1;

    border: 0;
    border-radius: 5px;
    resize: none;
    outline: none;
}

#buttons {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#image-input {
    display: none;
}

#input-button {
    align-self: flex-end;
}

.chat {
    padding: 5px;
}

.chat-row {
    display: flex;
}

.chat-text {
    max-width: 70%;
    padding: 7px;
    border-radius: 5px;
    font-size: large;
}

.chat-time {
    align-self: flex-end;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
}

.me .chat-row {
    flex-direction: row-reverse;
}

.me .chat-text {
    background-color: #FCE33E;
}

.me .chat-writer {
    display: none;
}

.other .chat-text {
    background-color: white;
}