.horizontal_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h2 {
    flex: 1;
    width: 100%;
}

form {
    height: 30px;
    align-self: center;
}

button {
    height: 30px;
}
