<div class="bg-secondary position-fixed" style="width: 80px; height: 100%">
    <div class="mt-5 text-center">
        <form action="/">
            <button class="btn btn-link p-0 {% if tab == 'home' %}disabled{% endif %}">
                {% if tab == 'home' %}
                <img src="/static/icon/person.fill.white.svg" style="width: 30px;">
                {% else %}
                <img src="/static/icon/person.fill.black.svg" style="width: 30px;">
                {% endif %}
            </button>
        </form>
    </div>
    <div class="mt-5 text-center">
        <form action="/chatrooms">
            <button class="btn btn-link p-0 {% if tab == 'chat' %}disabled{% endif %}">
                {% if tab == 'chat' %}
                <img src="/static/icon/bubble.fill.white.svg" style="width: 30px;">
                {% else %}
                <img src="/static/icon/bubble.fill.black.svg" style="width: 30px;">
                {% endif %}
            </button>
        </form>
    </div>
</div>