<!DOCTYPE html>
<html lang="ko" class="bg-dark w-100 h-100">
<head>
    <meta charset="UTF-8">
    <title>Add Friend</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/add_friend.js"></script>
</head>
<body class="bg-dark col w-100">
<div class="container mt-5">
    <form action="/">
        <button class="btn text-light"><img src="/static/icon/xmark.svg"></button>
    </form>
    <h1 class="text-light text-center">친구 추가</h1>
    <input id="friend-input" class="col form-control mt-5" name="name" type="text" placeholder="name" value="">
    <div id="result" class="mt-5 col"></div>
</div>
</body>
</html>