<!DOCTYPE html>
<html lang="ko" class="bg-dark vw-100 vh-100">
<head>
    <meta charset="UTF-8">
    <title>{{ chatroom.name }}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/chatroom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/chat.js"></script>
</head>
<body id="wrap" class="bg-dark">
<div id="chat-container">
    <div id="header">
        <img id="x-button" src="/static/icon/xmark.svg" onclick="window.location.replace('/chatrooms')">
        <h3 id="chatroom-name" class="text-light">{{ chatroom.name }}</h3>
    </div>
    <div id="chat-list"></div>
    <div id="input" class="bg-secondary">
        <textarea id="input-text" class="bg-secondary text-light"></textarea>
        <input id="image-input" type="file" name="file" accept="image/*, video/*">
        <div id="buttons">
            <label for="image-input" class="image-button btn-link text-center m-1">
                <img src="/static/icon/paperclip.svg">
            </label>
            <button id="input-button" class="btn btn-warning">Send</button>
        </div>
    </div>
</div>
</body>
</html>