<!DOCTYPE html>
<html lang="ko" class="bg-dark vw-100 vh-100">
<head>
    <meta charset="UTF-8">
    <title>{{ chatroom.name }}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/chatroom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/chat.js"></script>
</head>
<body id="wrap" class="bg-dark">
<div id="chat-container">
    <div id="header">
        <img id="x-button" src="/static/icon/xmark.svg" onclick="window.location.replace('/chatrooms')">
        <h3 id="chatroom-name" class="text-light">{{ chatroom.name }}</h3>
    </div>
    <div id="chat-list"></div>
    <label id="input" class="bg-secondary">
        <textarea id="input-text" class="bg-secondary text-light"></textarea>
        <input id="input-button" class="btn btn-warning" type="button" value="Send">
    </label>
</div>
</body>
</html>