<!DOCTYPE html>
<html lang="kr" class="bg-dark w-100 h-100">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body class="bg-dark col w-100 h-100">
<div class="row w-100 h-100">
    {% include "component/div.html" %}
    <div class="col m-3 mt-5">
        <h1 class="text-light">{{ user.name }}</h1>

        <div class="row justify-content-between mt-5">
            <h2 class="col text-light">친구</h2>
            <form style="width: 120px" class="text-end align-self-center" method="get" action="/friends">
                <button class="btn btn-light" type="submit">친구 추가</button>
            </form>
        </div>

        <hr class="text-light mt-3">
        <div class="">
            {% for friend in friends %}
            <a href="#" class="btn w-100 text-start p-1"><p class="text-light fs-3 m-0">{{ friend.name }}</p></a>
            <hr class="text-light">
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>