<!DOCTYPE html>
<html lang="kr" class="bg-dark">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body class="bg-dark">
<div class="container mt-5">
    <h1 class="text-center text-light mb-5">SKKU Talk</h1>

    <form method="post">
        <input class="form-control mb-3" name="login_id" type="text" placeholder="id" value="user">
        <input class="form-control mb-3" name="password" type="password" placeholder="password" value="user">
        {% if error %}
        <p class="mb-3 text-danger">{{ error }}</p>
        {% endif %}
        <button class="btn btn-warning mb-3 w-100" type="submit">Login</button>
    </form>

    <form action="/register">
        <button class="btn btn-light mb-3 w-100" type="submit">Register</button>
    </form>
</div>
</body>
</html>