<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="/static/global.css" rel="stylesheet">
    <link href="/static/form.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <h1>SKKU Talk</h1>
    <form class="form vertical-flex" method="post" action="">
        <input class="text-input" name="name" type="text" placeholder="name" value="user">
        <input class="text-input" name="login_id" type="text" placeholder="id" value="user">
        <input class="text-input" name="password" type="password" placeholder="password" value="user">
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <button class="long-button main-button" type="submit">Register</button>
    </form>
</div>
</body>
</html>